#map .maplibregl-map {
  width: calc(100svw - 16px);
  height: 80svw;
  overflow: hidden;
  z-index: -1;
  background-color: #111111;
}

/* we do attribution in our own footer */
.maplibregl-ctrl-attrib-button {
  display: none;
}

#category-filter {
  position: absolute;
  top: 0;
  right: 8px;
  padding: 16px 8px;
}

#category-filter form > div {
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  font-size: clamp(0.5em, 1.5vw, 2.0em);
  align-items: end;
  background-color: #11111166;
  border-radius: 8px;
  padding: 8px;
}

/* #category-filter form > div > label {

} */

#category-filter form input {
  visibility: hidden;
}

#category-filter form input:checked + span {
  font-weight: bold;
  margin-inline-end: -1.25em;
}

#category-filter form input:checked + span::after {
  content: 'â†';
  padding-inline-start: 4px;
}